/* Page colors are 
#1f2041 Dark Purple 
#dc8446 Orange 
#cf9dac Pink 
#c0b3ba Grey
#f5e7dc Light Tan (shade lighter #FBF4EF) 
#d5b294 Taupe
*/

/* GENERAL STYLES */

* {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: content-box;
padding: 0;
}

body {
    background-image: url(./photos/SL_042320_30230_30.jpg);
    background-repeat: repeat; 
    background-attachment: fixed;
    background-size: cover;
}   

main {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 14pt;
    color: #1f2041;
}

div {
display: block;
}

a {
    color: #FBF4EF;
    text-decoration: none;
    text-shadow: 0 0 5px #FBF4EF;
}

/* HEADER STYLES */

.header {
    display: flex;
    justify-content: center;
    padding: 0; 
}

#header-name {
    max-width: 400px;
    max-height: auto;
}

/* NAVIGATION STYLES */

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border-radius: 30px;
    padding: 10px;
    margin 10px; 
    color: #FBF4EF;
    text-shadow: 0 0 5px #FBF4EF;
    background-color: #cf9dace4;
    text-decoration: none;
}

/* BODY STYLES */

main section {
    display: flex;
    padding: 10px;
}
.card, address {
    background-color: #fbf4efdb;
    border-radius: 30px;
    padding: 20px;
    margin: 10px; 
    background-blend-mode: lighten;    
}

.card h2 {
    display: flex;
    flex-direction: row;
}

.card section {
    display: flex;
    flex-flow: row wrap;
}

section.project-card {
    display: flex; 
    flex-direction: column;
    padding: 10px; 

}
.contact-me {
    color: #1f2041;
    padding: 10px;
}

#profile-image {
    height: 231px;
    width: auto;
    padding: 5px;
    border-radius: 15px;
    border: 5px solid;
    border-color: #dc8446;
    margin: 0;
}
