/* Page colors are #1f2041 dark purple, #4b3f72 lighter purple, #ffc857 yellow, #119da4 sat. blue, #DDF2F8 light blue */


* {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: content-box;
padding:0;
}

div {
display: block;
}


a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    color: white; 
    background-color: #1F2041;
    padding: 20px; 
}

.header h1 {
    width: 50%; 
    display: inline-block;
}

ul {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-top: -50px;
}

ul li {
    display: inline-block;
    margin-left: 0;
}

.content {
    background-color: #EEF9FC;
    color: #4D5382;
    padding: 20px;
}

.content h2, .content h3, .content img, .content p {
    text-align: center;
}

.contact-me {
    background-color: #1F2041;
    color: #ffffff;
}

#profile-image {
    width: 200px;
    height: 231px;
    padding: 5px;
    border: 5px solid;
    display: block;
    border-color: #119fa6;
    margin: 0 auto;
}

